[workspace]
members = [
  "analyzer",
  "catalog",
  "flow-rs",
  "parser",
  "peer-bigquery",
  "peer-connections",
  "peer-cursor",
  "peer-mysql",
  "peer-postgres",
  "peer-snowflake",
  "postgres-connection",
  "pt",
  "server",
  "value",
]

resolver = "2"

[workspace.dependencies]
chrono = { version = "0.4", default-features = false, features = ["serde", "std"] }
sqlparser = { git = "https://github.com/peerdb-io/sqlparser-rs.git", branch = "ps-es-parsing" }
pgwire = "0.19"
