CI_MONGO_HOST=localhost
CI_MONGO_PORT=27017
CI_MONGO_ADMIN_URI=mongodb://localhost:27017
CI_MONGO_ADMIN_USERNAME=admin
CI_MONGO_ADMIN_PASSWORD=admin
CI_MONGO_URI=mongodb://localhost:27017
CI_MONGO_USERNAME=csuser
CI_MONGO_PASSWORD=cspass

CI_CLICKHOUSE_HOST=localhost
CI_CLICKHOUSE_HTTP_PORT=8123
CI_CLICKHOUSE_NATIVE_PORT=9000

CI_MYSQL_HOST=localhost
CI_MYSQL_PORT=3306
CI_MYSQL_ROOT_PASSWORD=cipass

PG_HOST=localhost
PG_PORT=5436
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=postgres
