CI_MONGO_HOST=host.docker.internal
CI_MONGO_PORT=11017
CI_MONGO_ADMIN_URI=mongodb://host.docker.internal:11017
CI_MONGO_ADMIN_USERNAME=admin
CI_MONGO_ADMIN_PASSWORD=admin
CI_MONGO_URI=mongodb://host.docker.internal:11017
CI_MONGO_USERNAME=csuser
CI_MONGO_PASSWORD=cspass

CI_CLICKHOUSE_HOST=host.docker.internal
CI_CLICKHOUSE_HTTP_PORT=11123
CI_CLICKHOUSE_NATIVE_PORT=11000

CI_MYSQL_HOST=host.docker.internal
CI_MYSQL_GTID_PORT=3306
CI_MYSQL_POS_PORT=3307
CI_MARIADB_PORT=3308
CI_MYSQL_ROOT_PASSWORD=cipass
CI_MYSQL_GTID_VERSION=mysql-gtid
CI_MYSQL_POS_VERSION=mysql-pos
CI_MARIADB_VERSION=maria

CI_MYSQL_VERSION=mysql-gtid
CI_MYSQL_PORT=3306 # Default is gtid

PG_HOST=host.docker.internal
PG_PORT=5436
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=postgres

PG2_HOST=host.docker.internal
PG2_PORT=5437
PG2_USER=postgres
PG2_PASSWORD=postgres
PG2_DATABASE=postgres

PEERDB_CATALOG_HOST=host.docker.internal
PEERDB_CATALOG_PORT=9901
PEERDB_CATALOG_USER=postgres
PEERDB_CATALOG_PASSWORD=postgres
PEERDB_CATALOG_DATABASE=postgres

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=_peerdb_minioadmin
AWS_SECRET_ACCESS_KEY=_peerdb_minioadmin
AWS_ENDPOINT_URL_S3=http://host.docker.internal:9001
AWS_EC2_METADATA_DISABLED="true"

MINIO_ROOT_USER=_peerdb_minioadmin
MINIO_ROOT_PASSWORD=_peerdb_minioadmin

# Set to 1 for enabling go debugger in dockerfile and Tilt Setup
DOCKER_GO_DEBUG_FLOW_API=
DOCKER_GO_DEBUG_FLOW_WORKER=
DOCKER_GO_DEBUG_FLOW_SNAPSHOT_WORKER=

TZ='UTC'

## Port Overrides for parallel tilt and docker-compose runs.
# PEERDB_CATALOG_PORT=19901
# PEERDB_NEXUS_PORT=19900
# PEERDB_SWITCHBOARD_PORT=15732
# PEERBD_UI_PORT=13030
# TEMPORAL_PORT=17233
# TEMPORAL_UI_PORT=18085
# FLOW_API_PORT=18112
# FLOW_API_HTTP_PORT=18113
# DOCKER_GO_DEBUG_PORT_FLOW_WORKER=14001
# DOCKER_GO_DEBUG_PORT_FLOW_SNAPSHOT_WORKER=14002
# DOCKER_GO_DEBUG_PORT_FLOW_API=14003
# MINIO_PORT=19001
# MINIO_CONSOLE_PORT=19002
