.vscode/
.env
tmp/
.envrc
.idea/

private/
nexus/server/tests/assets/*.json
nexus/server/tests/results/actual/

go.work
go.work.sum

# generated protobuf files
ui/grpc_generated
flow/generated
nexus/pt/src/gen
