name: peerdb-quickstart

x-minio-config: &minio-config
  PEERDB_CLICKHOUSE_AWS_CREDENTIALS_AWS_ACCESS_KEY_ID: _peerdb_minioadmin
  MINIO_ROOT_USER: _peerdb_minioadmin
  PEERDB_CLICKHOUSE_AWS_CREDENTIALS_AWS_SECRET_ACCESS_KEY: _peerdb_minioadmin
  MINIO_ROOT_PASSWORD: _peerdb_minioadmin
  PEERDB_CLICKHOUSE_AWS_CREDENTIALS_AWS_REGION: us-east-1
  PEERDB_CLICKHOUSE_AWS_CREDENTIALS_AWS_ENDPOINT_URL_S3: http://host.docker.internal:9001
  PEERDB_CLICKHOUSE_AWS_S3_BUCKET_NAME: peerdbbucket
  MINIO_DEFAULT_BUCKETS: peerdbbucket
  MINIO_CONSOLE_PORT_NUMBER: 36987

x-catalog-config: &catalog-config
  PEERDB_CATALOG_HOST: catalog
  PEERDB_CATALOG_PORT: 5432
  PEERDB_CATALOG_USER: postgres
  PEERDB_CATALOG_PASSWORD: postgres
  PEERDB_CATALOG_DATABASE: postgres

x-flow-worker-env: &flow-worker-env
  TEMPORAL_HOST_PORT: temporal:7233
  TEMPORAL_CLIENT_CERT:
  TEMPORAL_CLIENT_KEY:
  PEERDB_TEMPORAL_NAMESPACE: default
  # For GCS, these will be your HMAC keys instead
  # For more information:
  # https://cloud.google.com/storage/docs/authentication/managing-hmackeys
  AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
  AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
  # For GCS, set this to "auto" without the quotes
  AWS_REGION: ${AWS_REGION:-}
  # For GCS, set this as: https://storage.googleapis.com
  AWS_ENDPOINT: ${AWS_ENDPOINT:-}

services:
  catalog:
    container_name: catalog
    image: postgres:17-alpine@sha256:3406990b6e4c7192317b6fdc5680498744f6142f01f0287f4ee0420d8c74063c
    command: -c config_file=/etc/postgresql.conf
    restart: unless-stopped
    ports:
      - 9901:5432
    environment:
      PGUSER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_INITDB_ARGS: --locale=C.UTF-8
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./volumes/postgresql.conf:/etc/postgresql.conf
      - ./volumes/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "postgres", "-U", "postgres"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 60s

  temporal:
    container_name: temporal
    restart: unless-stopped
    depends_on:
      catalog:
        condition: service_healthy
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PWD=postgres
      - POSTGRES_SEEDS=catalog
      - DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development-sql.yaml
    image: temporalio/auto-setup:1.28@sha256:607d68caa111338d754771efb876c92dfcdae06d056e4530bb31cd0f37406e6a
    ports:
      - 7233:7233
    volumes:
      - ./volumes/temporal-dynamicconfig:/etc/temporal/config/dynamicconfig
    labels:
      kompose.volume.type: configMap

  temporal-admin-tools:
    container_name: temporal-admin-tools
    restart: unless-stopped
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
      - TEMPORAL_CLI_SHOW_STACKS=1
    image: temporalio/admin-tools:1.25.2-tctl-1.18.1-cli-1.1.1@sha256:da0c7a7982b571857173ab8f058e7f139b3054800abb4dcb100445d29a563ee8
    stdin_open: true
    tty: true
    entrypoint: /etc/temporal/entrypoint.sh
    healthcheck:
      test: ["CMD", "tctl", "workflow", "list"]
      interval: 1s
      timeout: 5s
      retries: 30
    volumes:
      - ./scripts/mirror-name-search.sh:/etc/temporal/entrypoint.sh

  temporal-ui:
    container_name: temporal-ui
    restart: unless-stopped
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:3000
      - TEMPORAL_CSRF_COOKIE_INSECURE=true
    image: temporalio/ui:2.39.0@sha256:b768f87f18b59663a6749e98a2f7782c266e8e4e4749f92248e2ba41d6330d3f
    ports:
      - 8085:8080

  flow-api:
    container_name: flow_api
    build:
      context: .
      dockerfile: stacks/flow.Dockerfile
      target: flow-api
      args:
        PEERDB_VERSION_SHA_SHORT: ${PEERDB_VERSION_SHA_SHORT:-}
    restart: unless-stopped
    ports:
      - 8112:8112
      - 8113:8113
    environment:
      <<: [*catalog-config, *flow-worker-env, *minio-config]
      PEERDB_ALLOWED_TARGETS:
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      temporal-admin-tools:
        condition: service_healthy

  flow-snapshot-worker:
    container_name: flow-snapshot-worker
    build:
      context: .
      dockerfile: stacks/flow.Dockerfile
      target: flow-snapshot-worker
    restart: unless-stopped
    environment:
      <<: [*catalog-config, *flow-worker-env, *minio-config]
    depends_on:
      temporal-admin-tools:
        condition: service_healthy

  flow-worker:
    container_name: flow-worker
    build:
      context: .
      dockerfile: stacks/flow.Dockerfile
      target: flow-worker
    restart: unless-stopped
    environment:
      <<: [*catalog-config, *flow-worker-env, *minio-config]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      temporal-admin-tools:
        condition: service_healthy

  peerdb:
    container_name: peerdb-server
    stop_signal: SIGINT
    image: ghcr.io/peerdb-io/peerdb-server:stable-v0.32.1
    restart: unless-stopped
    environment:
      <<: *catalog-config
      PEERDB_PASSWORD:
      PEERDB_FLOW_SERVER_ADDRESS: grpc://flow_api:8112
      RUST_LOG: info
      RUST_BACKTRACE: 1
    ports:
      - 9900:9900
    depends_on:
      catalog:
        condition: service_healthy

  peerdb-ui:
    container_name: peerdb-ui
    image: ghcr.io/peerdb-io/peerdb-ui:stable-v0.32.1
    restart: unless-stopped
    ports:
      - 3000:3000
    environment:
      <<: *catalog-config
      DATABASE_URL: postgres://postgres:postgres@catalog:5432/postgres
      PEERDB_FLOW_SERVER_HTTP: http://flow_api:8113
      NEXTAUTH_SECRET: __changeme__
      NEXTAUTH_URL: http://localhost:3000
      PEERDB_ALLOWED_TARGETS:
      PEERDB_CLICKHOUSE_ALLOWED_DOMAINS:
      PEERDB_EXPERIMENTAL_ENABLE_SCRIPTING: true
    depends_on:
      - flow-api

  minio:
    image: bitnami/minio:2025.7.23@sha256:4707bf769bba6653d5c5653b18b619d7397b35efc6f402aebfd0a93a5309a0c0
    restart: unless-stopped
    volumes:
      - minio-data:/data
    ports:
      - "9001:9000"
      - "9002:36987"
    environment:
      <<: *minio-config

volumes:
  pgdata:
  minio-data:

networks:
  default:
    name: peerdb_network
