[package]
name = "peerdb-catalog"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
chrono = { version = "0.4.22", default-features = false }
flow-rs = { path = "../flow-rs" }
prost = "0.11"
peer-cursor = { path = "../peer-cursor" }
peer-postgres = { path = "../peer-postgres" }
pt = { path = "../pt" }
refinery = { version = "0.8", features = ["tokio-postgres"] }
tokio = { version = "1.13.0", features = ["full"] }
tokio-postgres = { version = "0.7.6", features = [
  "with-chrono-0_4",
  "with-serde_json-1",
  "with-uuid-0_8",
] }
tracing = "0.1.29"
