name: Build and Test

on:
  push:
    branches: [main, release/*]
  pull_request:
    branches: [main, release/*]
    paths: [nexus/**, protos/**, .github/workflows/ci.yml]

jobs:
  build:
    strategy:
      matrix:
        runner: [ubuntu-latest]
        postgres-version: [13, 14, 15, 16, 17]
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 30
    services:
      catalog_peer:
        image: postgres:${{ matrix.postgres-version }}-alpine
        ports:
          - 7132:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: generate or hydrate protos
        uses: ./.github/actions/genprotos

      - name: install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler libssl-dev pkg-config build-essential

      - name: setup gcp service account
        id: gcp-service-account
        uses: jsdaniell/create-json@b8e77fa01397ca39cc4a6198cc29a3be5481afef # v1.2.3
        with:
          name: "bq_service_account.json"
          json: ${{ secrets.GCP_GH_CI_PKEY }}
          dir: "nexus/server/tests/assets/"

      - name: setup snowflake credentials
        id: sf-credentials
        uses: jsdaniell/create-json@b8e77fa01397ca39cc4a6198cc29a3be5481afef # v1.2.3
        with:
          name: "snowflake_creds.json"
          json: ${{ secrets.SNOWFLAKE_GH_CI_PKEY }}
          dir: "nexus/server/tests/assets/"

      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2
        with:
          workspaces: nexus

      - name: cargo check
        run: cargo check
        working-directory: ./nexus

      - name: cargo test
        run: cargo test -- --test-threads=1
        working-directory: ./nexus
        env:
          RUST_BACKTRACE: 1
          PEERDB_CATALOG_HOST: localhost
          PEERDB_CATALOG_PORT: 7132
          PEERDB_CATALOG_DATABASE: postgres
          PEERDB_CATALOG_USER: postgres
          PEERDB_CATALOG_PASSWORD: postgres
          TEST_BQ_CREDS: tests/assets/bq_service_account.json
          TEST_SF_CREDS: tests/assets/snowflake_creds.json
          PEERDB_LOG_DIR: /tmp

      - name: dump server.log
        if: failure()
        run: cat nexus/server/server.log
