name: Customer Docker images

on:
  push:
    branches:
     - 'customer-*'
  pull_request:
    branches:
     - 'customer-*'

jobs:
  hydrate-protos:
    uses: ./.github/workflows/_generate_protos.yml
  docker-build:
    needs: hydrate-protos
    strategy:
      matrix:
        runner: [ubuntu-latest]
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: hydrate protos from cache
        uses: actions/cache/restore@v4
        with:
          path: |
            ./flow/generated/protos
            ./nexus/pt/src/gen
            ./ui/grpc_generated
          key: ${{ runner.os }}-build-genprotos-${{ hashFiles('./protos/peers.proto', './protos/flow.proto', './protos/route.proto') }}
          fail-on-cache-miss: true

      - uses: depot/setup-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Set Short Commit Hash
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: extract branch name suffix for customer
        id: branch
        run: |
          echo "branch=$(echo $GITHUB_REF | sed -e 's/.*customer-//')" >> $GITHUB_OUTPUT

      - name: Build (optionally publish) PeerDB Images
        uses: depot/bake-action@v1
        with:
          token: ${{ secrets.DEPOT_TOKEN }}
          files: ./docker-bake.hcl
          push: ${{ startsWith(github.ref, 'refs/heads/customer-') }}
        env:
          SHA_SHORT: ${{ steps.branch.outputs.branch }}-${{ steps.vars.outputs.sha_short }}
          TAG: latest-${{ steps.branch.outputs.branch }}
