name: Customer Docker images

on:
  push:
    branches:
     - 'customer-*'
  pull_request:
    branches:
     - 'customer-*'

jobs:
  docker-build:
    strategy:
      matrix:
        runner: [ubuntu-latest]
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: generate or hydrate protos
        uses: ./.github/actions/genprotos

      - uses: depot/setup-action@b0b1ea4f69e92ebf5dea3f8713a1b0c37b2126a5 # v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Set Short Commit Hash
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: extract branch name suffix for customer
        id: branch
        run: |
          echo "branch=$(echo $GITHUB_REF | sed -e 's/.*customer-//')" >> $GITHUB_OUTPUT

      - name: Build (optionally publish) PeerDB Images
        uses: depot/bake-action@2ae2529115bba41de62b77b345de48d57eca7564 # v1
        with:
          token: ${{ secrets.DEPOT_TOKEN }}
          files: ./docker-bake.hcl
          push: ${{ startsWith(github.ref, 'refs/heads/customer-') }}
        env:
          SHA_SHORT: ${{ steps.branch.outputs.branch }}-${{ steps.vars.outputs.sha_short }}
          TAG: latest-${{ steps.branch.outputs.branch }}
