name: Dev Docker Images

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  pull_request_target:
    branches: [main]

jobs:
  docker-build:
    if: |
      (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository) ||
      (github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name != github.repository) ||
      github.event_name == 'push'
    environment: ${{ (github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name != github.repository) && 'external-contributor' || null }}
    strategy:
      matrix:
        # ubuntu-latest leverages larger GH runner pool & completes in ~30s instead of ~3m
        runner: [ubuntu-latest]
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.event_name == 'pull_request_target' && github.event.pull_request.head.sha || github.ref }}
      - name: generate or hydrate protos
        uses: ./.github/actions/genprotos

      - uses: depot/setup-action@b0b1ea4f69e92ebf5dea3f8713a1b0c37b2126a5 # v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Set Short Commit Hash
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build (optionally publish) PeerDB Images
        uses: depot/bake-action@2ae2529115bba41de62b77b345de48d57eca7564 # v1
        with:
          token: ${{ secrets.DEPOT_TOKEN }}
          files: ./docker-bake.hcl
          push: ${{ github.ref == 'refs/heads/main' }}
        env:
          SHA_SHORT: dev-${{ steps.vars.outputs.sha_short }}
          TAG: latest-dev
