name: Flow build and test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  flow_test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    services:
      pg_cdc:
        image: debezium/postgres:14-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: checkout sources
        uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.19.0'

      - name: install gotestsum
        run: |
          go install gotest.tools/gotestsum@latest

      - name: download go modules
        run: |
          go mod download
        working-directory: ./flow

      - name: setup gcp service account
        id: gcp-service-account
        uses: jsdaniell/create-json@v1.2.2
        with:
          name: "bq_service_account.json"
          json: ${{ secrets.GCP_GH_CI_PKEY }}

      - name: run tests
        run: |
          gotestsum --format testname
        working-directory: ./flow
        env:
          TEST_BQ_CREDS: ${{ github.workspace }}/bq_service_account.json
