name: build and test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  flow_test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    services:
      pg_cdc:
        image: debezium/postgres:14-alpine
        ports:
          - 7132:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: checkout sources
        uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.19.0'

      - name: download go modules
        run: |
          go mod download
        working-directory: ./flow

      - name: run tests
        run: |
          go test -timeout 300s -v ./...
        working-directory: ./flow
        env:
          TEST_BQ_CREDS: ${{ github.workspace }}/flow/e2e/assets/bq_service_account.json
