name: GolangCI-Lint

on:
  pull_request:
    branches: [main]
    paths: [flow/**, .github/workflows/golang-lint.yml]

permissions:
  contents: read
  checks: write

jobs:
  golangci:
    name: lint
    runs-on: [ubuntu-24.04]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: generate or hydrate protos
        uses: ./.github/actions/genprotos

      - name: install lib-geos
        run: |
          sudo apt-get install libgeos-dev
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version: '1.25.0'
          cache: false
      - name: golangci-lint flow
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          version: v2.4.0
          working-directory: ./flow
          args: --timeout=10m
      - name: golangci-lint e2e_cleanup
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          version: v2.4.0
          working-directory: ./e2e_cleanup
          args: --timeout=10m
