name: GolangCI-Lint

on:
  pull_request:
    branches: [main]
    paths: [flow/**, e2e_cleanup/**, .github/workflows/golang-lint.yml]

permissions:
  contents: read
  checks: write

jobs:
  golangci:
    name: lint
    runs-on: [ubuntu-24.04]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: generate or hydrate protos
        uses: ./.github/actions/genprotos

      - name: install lib-geos
        run: |
          sudo apt-get install libgeos-dev
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: '1.25.4'
          cache: false
      - name: golangci-lint flow
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9
        with:
          version: v2.5.0
          working-directory: ./flow
          args: --timeout=10m
      - name: golangci-lint e2e_cleanup
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9
        with:
          version: v2.5.0
          working-directory: ./e2e_cleanup
          args: --timeout=10m
