name: GolangCI-Lint

on:
  pull_request:
    branches: [main]
    paths: [flow/**, e2e_cleanup/**, .github/workflows/golang-lint.yml]

permissions:
  contents: read
  checks: write

jobs:
  golangci:
    name: lint
    runs-on: [ubuntu-24.04]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: generate or hydrate protos
        uses: ./.github/actions/genprotos

      - name: install lib-geos
        run: |
          sudo apt-get install libgeos-dev
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: '1.25.5'
          cache: false
      - name: golangci-lint flow
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
        with:
          version: v2.7.2
          working-directory: ./flow
          args: --timeout=10m
      - name: golangci-lint e2e_cleanup
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
        with:
          version: v2.7.2
          working-directory: ./e2e_cleanup
          args: --timeout=10m
