name: GolangCI-Lint

on:
  pull_request:
    branches: [main]
    paths: [flow/**, e2e_cleanup/**, .github/workflows/golang-lint.yml]

permissions:
  contents: read
  checks: write

jobs:
  golangci:
    name: lint
    runs-on: [ubuntu-24.04]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: generate or hydrate protos
        uses: ./.github/actions/genprotos

      - name: install lib-geos
        run: |
          sudo apt-get install libgeos-dev
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25.4'
          cache: false
      - name: golangci-lint flow
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9
        with:
          version: v2.5.0
          working-directory: ./flow
          args: --timeout=10m
      - name: golangci-lint e2e_cleanup
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9
        with:
          version: v2.5.0
          working-directory: ./e2e_cleanup
          args: --timeout=10m
