name: clippy-action

on:
  pull_request:
    branches:
      - "main"

jobs:
  clippy:
    permissions:
      checks: write
      contents: read
      pull-requests: write
    strategy:
      matrix:
        runner: [ubicloud-standard-4]
    runs-on: ${{ matrix.runner }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: disable clippy for sqlparser-rs
        run: sed -i '1s/^/#![allow(clippy)]/' nexus/sqlparser-rs/src/lib.rs


      - name: clippy
        run: cargo clippy -- -D warnings
        working-directory: ./nexus
