name: clippy-action

on:
  pull_request:
    branches:
      - "main"

jobs:
  clippy:
    permissions:
      checks: write
      contents: read
      pull-requests: write
    strategy:
      matrix:
        runner: [ubicloud]
    runs-on: ${{ matrix.runner }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
        working-directory: ./nexus
