name: clippy-action

on:
  pull_request:
    branches: [main]
    paths: [nexus/**]

jobs:
  clippy:
    permissions:
      checks: write
      contents: read
      pull-requests: write
    strategy:
      matrix:
        runner: [ubuntu-latest]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: generate or hydrate protos
        uses: ./.github/actions/genprotos

      - name: clippy
        run: cargo clippy -- -D warnings
        working-directory: ./nexus
