name: Stable Debian package

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  release:
    name: build and release
    strategy:
      matrix:
        runner: [ubuntu-latest, ubicloud]
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write
    steps:
      - name: checkout sources
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: install system tools
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools protobuf-compiler gcc-multilib \
            protobuf-compiler libssl-dev pkg-config build-essential

      - name: install cargo binstall
        run: |
          curl -L --proto '=https' --tlsv1.2 -sSf\
           https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash

      - name: install cargo binaries
        run: |
          cargo binstall --no-confirm --no-symlinks cargo-deb

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-musl

      - name: Set Cargo version as Git tag
        working-directory: ./nexus/server
        run: |
          export VERSION=$(echo "${{ github.ref_name }}" | sed 's/^v//')
          sed -i "s/0.1.0/$VERSION/g" Cargo.toml

      - name: build project release
        working-directory: ./nexus
        run: cargo build --release --target=x86_64-unknown-linux-musl

      - name: create peerdb-server deb package
        working-directory: ./nexus/
        run: cargo deb --target=x86_64-unknown-linux-musl -p peerdb-server --no-build

      - name: upload release artifacts
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            nexus/target/x86_64-unknown-linux-musl/debian/peerdb-server*.deb
