name: Stable Docker images

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  docker-build:
    strategy:
      matrix:
        runner: [ubuntu-24.04]
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: generate or hydrate protos
        uses: ./.github/actions/genprotos

      - uses: depot/setup-action@b0b1ea4f69e92ebf5dea3f8713a1b0c37b2126a5 # v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Build (optionally publish) PeerDB Images
        uses: depot/bake-action@2ae2529115bba41de62b77b345de48d57eca7564 # v1
        with:
          token: ${{ secrets.DEPOT_TOKEN }}
          files: ./docker-bake.hcl
          push: true
        env:
          SHA_SHORT: stable-${{ github.ref_name }}
          TAG: latest-stable
