name: Build & Test UI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths: [ui/**, protos/**, buf.gen.yaml]

jobs:
  build-test:
    name: Build & Test UI
    strategy:
      matrix:
        runner: [ubuntu-24.04]
    runs-on: ${{ matrix.runner }}
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: generate or hydrate protos
        uses: ./.github/actions/genprotos

      - name: Install Node.js dependencies
        working-directory: ui
        run: npm ci

      - name: Build
        working-directory: ui
        run: npm run build
